# Log files
*.log

# Emacs
*~

# Maven
target/
.flattened-pom.xml

# Autotools
aclocal.m4
autom4te.cache/
build/
*.in
config/
configure
VERSION

# Copied by bootstrap
ln_oracle_tools.sh
darwin-remove-rpath.sh
